<mat-table [dataSource]="listaComidas" class="mat-elevation-z8" *ngIf="listaComidas" style="margin-left: 8%; margin-right: 8%; margin-top: 2%;">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{'R$ ' + element.price}} </mat-cell>
    </ng-container>
    
   <!-- Button Column -->
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">  <button class = "btn-modal" mat-button (click)="openDialog(element)">i</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns">i</mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    
  </mat-table>