
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

.btn-modal{
  border: none;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  margin-right: 7%;
  margin-left: 8%;
}